.Homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./../../assets/images/back.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  width: 100%;
  max-width: 30rem;
  height: auto;
}

.logo-home {
  margin-top: 7rem;
  width: 100%;
  max-width: 25rem;
}

.home-text {
  text-align: center;
}

.home-text h1 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.logo-text {
  width: 100%;
  max-width: 35rem;
}

@media (max-width: 768px) {
  .logo-home {
    max-width: 150px;
  }

  .home-text h1 {
    font-size: 20px;
  }
}