.Homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./../../assets/images/back.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

img {
  /* margin-top: 2.6rem; */
  width: 30rem;
  height: auto;
}

.logo-home{
  margin-top: 7rem;
  width: 25rem;
}

.home-text {
  text-align: center;
}

.home-text h2 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.logo-text{
  width: 35rem;
}

@media (max-width: 768px) {
  .logo {
    width: 150px;
  }

  .text h1 {
    font-size: 20px;
  }
}