.Event{
    display: flex;
    flex-direction: column;
    margin-top: 2.4rem;

    & .event-content{
        display:flex;
        flex-direction:column;
        align-items:center;

        & h3{
            font-size: 3.2rem;
            margin-top: 2.4rem;
        }

        & p{
            font-size: 2rem;
        }

        & .sep{
            width: 20rem;
            height: 1rem;
            background-color: black;
            border-radius: 1rem;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;
}
    }
}